*{margin: 0;padding: 0;box-sizing: border-box;}

body{

    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://images.pexels.com/photos/5836781/pexels-photo-5836781.jpeg?cs=srgb&dl=pexels-roman-odintsov-5836781.jpg&fm=jpg");
    background-color: #000000ca;  
    background-size: 100vh;
  background-repeat: no-repeat; 
background-position: center;
  
}

form {
    background-color: rgba(124, 121, 121, 0.198);
    box-shadow: 1px 2px 10px rgb(255, 81, 0), 3px 6px 20px rgb(238, 255, 0);
    max-width: 400px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px 0;
  }

form h1{
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: rgba(233, 216, 66, 0.76);

}

form input[id=pedidos],
form input[id=cadastrar],
form input[id=usuarios],
form input[id=cardapio],
form input[id=sair]{
    font-family: "Roboto Mono", monospace;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    cursor: pointer;
    background: rgba(169, 169, 169, 0.445);
    color: rgb(12, 12, 12);
    border: 0;
    border-radius: 20px;
    transition: 1s;
}
form input[id=cadastrar]:hover{
    background-color: cadetblue;
}
form input[id=pedidos]:hover{
    background-color: cadetblue;
}
form input[id=cardapio]:hover{
    background-color: cadetblue;
}
form input[id=usuarios]:hover{
    background-color: cadetblue;
}
form input[id=sair]:hover{
    background-color: cadetblue;
}